/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}
html body {
  max-height: 70%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-image: linear-gradient(160deg, #4A3B99 0%, #F04E98 100%);
}
html body nav {
  height: 75px;
}
html body nav img {
  margin-top: 10px;
  margin-left: 5%;
  width: 210px;
  height: 50px;
}
@media (min-width: 1025px) {
  html body nav img {
    margin-left: 200px;
    margin-top: 16px;
  }
}
html body nav #myBtn {
  border: 1px solid #F04E98;
  border-radius: 18px;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: none;
  padding: 10px;
  float: right;
  margin-top: 25px;
  margin-right: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
html body nav #myBtn:hover {
  background-color: #F04E98;
  color: white;
}
@media (max-width: 1025px) {
  html body nav #myBtn {
    margin-top: 16px;
    margin-right: 5%;
    max-width: 90px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    height: 60px;
  }
}
html body h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 1025px) {
  html body h1 {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
  }
}
html body .description {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 1025px) {
  html body .description {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
  }
}
html body h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
html body .cuotas__app__option1__title {
  color: rgb(0, 156, 189);
}
html body .cuotas__app__option2__title {
  color: rgb(237, 139, 0);
}
html body .modal-content {
  max-width: 600px;
}
html body .modal-content .modal-content__title {
  font-size: larger;
  margin-bottom: 24px;
}
html body .modal-content .modal-content__start__button {
  margin-top: 24px;
  background-color: #694ED6;
  color: white;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 100%;
  height: 44px;
  left: 16px;
  top: 16px;
  /* Primary */
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}
html body .modal-content .modal-content__start__button:hover {
  background-color: #F04E98;
  color: white;
}
html body .modal-content p {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
html body .cuotas__app {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f1f1fa;
  padding: 5%;
  border-radius: 7px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.11), 0px 3px 14px rgba(0, 0, 0, 0.09), 0px 5px 5px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1025px) {
  html body .cuotas__app {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    background-color: #f1f1fa;
    border-radius: 7px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.11), 0px 3px 14px rgba(0, 0, 0, 0.09), 0px 5px 5px rgba(0, 0, 0, 0.16);
  }
}
html body .cuotas__app form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 800;
}
html body .cuotas__app form .input {
  text-align: left;
  /* Button */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  color: black;
  width: 100%;
  height: 44px;
  /* Grey/Grey-100 */
  background: #F2F2F2;
  /* Grey/Grey-200 */
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
html body .cuotas__app form .input:active {
  /* Frame 1 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
html body .cuotas__app form .input:invalid {
  border: 2px solid #CC3535;
  /* Alert-Shadow */
  box-shadow: 0px 0px 0px 3px #FAEBEB;
  border-radius: 10px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
html body .cuotas__app form #chip__cuotas1 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}
html body .cuotas__app form #chip__cuotas1 input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background: #FFFFFF;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: none;
  max-height: 37px;
  width: 86px;
  font-size: small;
  padding: 10px;
  transition-duration: 0.3s;
}
html body .cuotas__app form #chip__cuotas1 input:hover {
  background: rgba(0, 156, 189, 0.04);
  border: 1px solid rgb(0, 156, 189);
}
html body .cuotas__app form #chip__cuotas1 .selected {
  background: rgba(0, 156, 189, 0.16);
  border: 1px solid rgb(0, 156, 189);
}
html body .cuotas__app form #chip__cuotas1 button {
  margin-top: 10px;
  border: none;
  box-shadow: none;
  border-radius: 100px;
  max-height: 30px;
  width: 100px;
  font-size: small;
  padding: 10px;
  background-color: #fce8b8;
  color: black;
  transition-duration: 0.3s;
}
html body .cuotas__app form #chip__cuotas2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}
html body .cuotas__app form #chip__cuotas2 input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background: #FFFFFF;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: none;
  max-height: 37px;
  width: 86px;
  font-size: small;
  padding: 10px;
  transition-duration: 0.3s;
}
html body .cuotas__app form #chip__cuotas2 input:hover {
  border: 1px solid rgb(237, 139, 0);
  border-radius: 16px;
}
html body .cuotas__app form #chip__cuotas2 .selected2 {
  background-color: rgba(237, 139, 0, 0.16);
  border: 1px solid rgb(237, 139, 0);
}
html body .cuotas__app form #cantidaddecuotas {
  display: none;
  transition-duration: 0.3s;
}
html body .cuotas__app form #cantidaddecuotas:focus-visible {
  outline-color: rgb(0, 156, 189);
}
html body .cuotas__app form #cantidaddecuotas2 {
  display: none;
  transition-duration: 0.3s;
  outline-color: rgb(237, 139, 0);
}
html body .cuotas__app form .label {
  background: rgba(105, 78, 214, 0.08);
  font-weight: 700;
  border: 1px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}
html body .cuotas__app form .label > * {
  margin: 10px 0;
}
html body .cuotas__app form #valordelacuota:focus-visible {
  outline-color: rgb(0, 156, 189);
}
html body .cuotas__app form #valordelacuota2:focus-visible {
  outline-color: rgb(237, 139, 0);
}
html body .cuotas__app form .advaced_options__withoptions .advaced_options {
  text-align: left;
  font-size: 12px;
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
}
html body .cuotas__app form .advaced_options__withoptions .advaced_options p {
  vertical-align: baseline;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(0, 0, 0, 0.75);
}
html body .cuotas__app form #advanced__options {
  display: none;
  flex-direction: row;
  justify-items: baseline;
  margin-bottom: 5px;
}
html body .cuotas__app form #advanced__options #detalle {
  font-size: small;
  margin-left: 5px;
}
html body .cuotas__app form #submitbutton {
  font-weight: 700;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 100%;
  height: 44px;
  left: 16px;
  top: 16px;
  /* Primary */
  background: #4A3B99;
  /* Primary */
  border: none;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
html body .cuotas__app form #submitbutton:hover {
  background-color: #F04E98;
  color: white;
}
html body .cuotas__app form #submitbutton:disabled {
  box-sizing: border-box;
  /* Auto layout */
  /* Primary Dark */
  background: #372aa3;
  opacity: 0.4;
  /* Primary Dark */
  border: 2px solid #F5F4F8;
  border-radius: 10px;
}

#resultados2 {
  display: none;
  flex-direction: column;
}

#resultados {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
#resultados #mensajederesultado3 {
  order: -3;
}
#resultados #table {
  order: -2;
}

#resultados > * {
  font-weight: 500;
  font-size: small;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f1f1fa;
  padding: 5%;
  border-radius: 7px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.11), 0px 3px 14px rgba(0, 0, 0, 0.09), 0px 5px 5px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1025px) {
  #resultados > * {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-top: 24px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #f1f1fa;
    padding: 5%;
    border-radius: 7px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.11), 0px 3px 14px rgba(0, 0, 0, 0.09), 0px 5px 5px rgba(0, 0, 0, 0.16);
  }
  #resultados > * #mensajederesultado4 {
    color: red;
  }
  #resultados > * #resultado__detalle {
    font-size: small;
  }
}

.results__page #table {
  display: block;
  margin-top: 8px;
}
.results__page #table th, .results__page #table td {
  padding: 5px;
}
.results__page #table tr th:nth-of-type(2) {
  color: rgb(0, 156, 189);
}
.results__page #table tr th:nth-of-type(3) {
  color: rgb(237, 139, 0);
}

.startover {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 24px;
  height: 44px;
  background: #4A3B99;
  border: none;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}
.startover:hover {
  background-color: #F04E98;
  color: white;
}
.startover a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */