@import "variables.scss";
@import "modal.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  body {
    max-height: 70%;
    font-family: $font-family;
    font-style: normal;
    background-image: linear-gradient(160deg, $color-dark-primary-0 0%, $color-primary-1 100%);
    nav {
      height: 48px;
      @media (min-width: 1025px) {
        height: 64px;
      }
      img {
        margin-top: 10px;
        margin-left: 5%; 
        width:160px;
        height: 38px;
        @media (min-width: 1025px) {
          margin-left: 200px;
          margin-top: $uxg-spacing-3;
        }
      }
      #myBtn {
        border: 1px solid $color-primary-1;
        border-radius: 18px;
        color: white;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        background: none;
        padding: 5px;
        float: right;
        margin-top: 25px;
        margin-right: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: $transition-speed; 
        &:hover{
          background-color: $color-primary-1;
          color: white;
        }
        @media (max-width: 1025px) {
          margin-top: $uxg-spacing-2;
          margin-right: 5%;
          max-width: 100px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          height: 48px;
        }
      }
    }
    h1 {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: $uxg-spacing-3;
      margin-bottom: $uxg-spacing-3;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    .description{
      margin-left: 5%;
      margin-right: 5%;
      margin-top: $uxg-spacing-3;
      margin-bottom: $uxg-spacing-3;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    h2 {
      margin-top: $uxg-spacing-3 ;
      margin-bottom: $uxg-spacing-3;
      font-weight: 900;
      font-size: 18px; 
      text-align: center;
    }
    .cuotas__app__option1__title{
      color: $color-secondary-1;
    }
    .cuotas__app__option2__title{ 

      color: $color-secondary-2;
    }
    .modal-content {
      max-width: 600px;
      .modal-content__title {
        font-size: larger;
        margin-bottom: $uxg-spacing-4;
      }
      .modal-content__start__button {
        margin-top: $uxg-spacing-4;
        background-color: $color-primary-0;
        color: white;
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        width: 100%;
        height: 44px;
        left: 16px;
        top: 16px;
        /* Primary */
        border: none;
        border-radius:  100px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $color-primary-1; 
          color: white;
        }
      }
      p{
        margin-top: $uxg-spacing-2;
        margin-left: $uxg-spacing-2;
        margin-right: $uxg-spacing-2;
      }
    }

    .cuotas__app {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: $uxg-spacing-5; 
      background-color: #f1f1fa;
      padding: 5%;
      border-radius: 7px;
      box-shadow: $box-shadow;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 5%;
        background-color: #f1f1fa;
        border-radius: 7px;
        box-shadow: $box-shadow;
      }


      // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
      form {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 800;
        .input{
          text-align: left;
        /* Button */
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 16px;
        gap: 10px;
        color: black;
        width: 100%;
        height: 44px;
        /* Grey/Grey-100 */
        background: #F2F2F2;
        /* Grey/Grey-200 */
        border: 2px solid #E6E6E6;
        border-radius: 10px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        &:active{
          /* Frame 1 */
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 1;
        }
        &:invalid{
        border: 2px solid #CC3535;
        /* Alert-Shadow */
        box-shadow: 0px 0px 0px 3px #FAEBEB;
        border-radius: 10px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }
          }
        #chip__cuotas1 {
          margin-top: $uxg-spacing-3;
          margin-bottom: $uxg-spacing-3;
          display: flex;
          flex-wrap: wrap;
          input {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            background: $color-button-unselected;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            box-shadow: none;
            max-height: 37px;
            width: 86px;
            font-size: small;
            padding: 10px;
            transition-duration: 0.3s;
            &:hover {
              background: $color-button-chip-op1;
              border: 1px solid $color-button-chip-op1-border;
            }
          }

          .selected {
            background: $color-button-chip-op1-selected;
            border: 1px solid $color-button-chip-op1-border;
          }

          button {
            margin-top: 10px;
            border: none;
            box-shadow: none;
            border-radius: 100px;
            max-height: 30px;
            width: 100px;
            font-size: small;
            padding: 10px;
            background-color: $color-chips;
            color: black;
            transition-duration: 0.3s;
          }
        }
        #chip__cuotas2 {
          margin-left: auto;
          margin-right: auto;
          margin-top: $uxg-spacing-3;
          margin-bottom: $uxg-spacing-3;
          display: flex;
          flex-wrap: wrap;
          input {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            background: $color-button-unselected;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            box-shadow: none;
            max-height: 37px;
            width: 86px; 
            font-size: small;
            padding: 10px;
            transition-duration: 0.3s;
            &:hover {
              border: 1px solid $color-button-chip-op2-border;
              border-radius: 16px;
            }
          }
          .selected2{
            background-color: rgba(237, 139, 0, 0.16);
            border: 1px solid rgba(237, 139, 0, 1);
          }
        }

        #cantidaddecuotas {
          display: none;
          transition-duration: 0.3s;
          &:focus-visible{
            outline-color: $color-secondary-1;
          }
        }
        #cantidaddecuotas2 {
          display: none;
          transition-duration: 0.3s;
          outline-color: $color-secondary-2;
        }
        .label {
          background: $color-fields-background;
          font-weight: 700;
          border: 1px;
          border-radius: 4px 4px 0px 0px;
          display: flex;
          flex-direction: column;
          margin-top: $uxg-spacing-2;
          margin-bottom: $uxg-spacing-2;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.02em;
          > * {
            margin: 10px 0;
          }
        }
        #valordelacuota{
          //background-color: $color-button-chip-op1-selected ;
          &:focus-visible{
            outline-color: $color-secondary-1;
          }
        }

        #valordelacuota2{
          // background-color: $color-button-chip-op2-selected ;
          &:focus-visible{
            outline-color: $color-secondary-2;
          }
        }

        .advaced_options__withoptions {
          .advaced_options {
            width: fit-content;
            display: block; 
            text-align: left;
            font-size: 12px;
            display: flex;
            margin-bottom: $uxg-spacing-3;
            cursor: pointer;
            p {
              vertical-align: baseline;
              margin-left: 5px;
              margin-top: auto;
              margin-bottom: auto;
              color: $color-font;              
            }
          }
        }

        #advanced__options {
          display: none;
          flex-direction: row;
          justify-items: baseline;
          margin-bottom: 5px;
          #detalle {
            font-size: small;
            margin-left: 5px;
          }
        }


        #submitbutton {
          font-weight: 700;
          box-sizing: border-box;
          /* Auto layout */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 24px;
          gap: 10px;
          width: 100%;
          height: 44px;
          left: 16px;
          top: 16px;
          /* Primary */
          background: $color-dark-primary-0;
          /* Primary */
          border: none;
          border-radius: 24px;
          color: white;
          cursor: pointer;
          transition: $transition-speed;
          &:hover {
            background-color: $color-primary-1;
            color: white;
          }
          &:disabled {
            box-sizing: border-box;
            /* Auto layout */
            /* Primary Dark */
            background: #372aa3;
            opacity: 0.4;
            /* Primary Dark */
            border: 2px solid $color-background-1;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

#resultados2 {
  display: none;
  flex-direction: column;
}

#resultados {
  margin-top: $uxg-spacing-2;
  display: flex;
  flex-direction: column;
  #mensajederesultado3 {
    font-weight: 700;
    //order: 1;
    order: -3;
  }
  #table {
    //order: 1;
    order: -2;
  }
}

#resultados > * {
  font-weight: 500;
  font-size: small;
  margin-top: $uxg-spacing-2;
  margin-bottom: $uxg-spacing-2;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f1f1fa;
  padding: 5%;
  border-radius: 7px;
  box-shadow: $box-shadow;
  @media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-top: $uxg-spacing-4;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #f1f1fa;
    padding: 5%;
    border-radius: 7px;
    box-shadow: $box-shadow;

    #mensajederesultado4 {
      color: red;
    }
    #resultado__detalle {
      font-size: small;
    }
  }
}

.results__page{
  #table {
    display: block;
    margin-top: $uxg-spacing-2;
    th, td {
      padding: 5px;
    }
    tr th:nth-of-type(2){
      color: $color-secondary-1;
    }
    tr th:nth-of-type(3){
      color: $color-secondary-2; 
    }
}
}


.startover { 
  margin-top: $uxg-spacing-2;
  margin-bottom: $uxg-spacing-2;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 24px;
  height: 44px;
  background: $color-dark-primary-0;
  border: none;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: $transition-speed;
  &:hover {
    background-color: $color-primary-1;
    color: white;
  }
  a{
    text-decoration: none;
    color: white;
  }
}


.tooltip {
  display: inline;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;  
}

.tooltip::before {
  content: attr(data-tooltip);
  font-size: 15px;
  position: absolute;
  left: -1500%;
  bottom: 100%;
  min-width: 200px;
  background: #d4edf4;
  padding: 5px 10px;
  visibility: hidden; 
  opacity: 0;
  color: #000;
  z-index: 5;
  border-radius: 5px;
  transition: 500ms opacity;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 92%;
  width: 8px;
  height: 8px;
  background: #d4edf4;
  opacity: 0;
  transform: rotate(45deg);
  transition: 500ms opacity;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 500ms; 
}
