/* 
npm init
sass --watch scss/style.scss css/style.css 
*/

@import "form_elements.scss";
@import "variables.scss";


* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  body {
    max-height: 70%;
    font-family: 'Inter';
    background-color: #f7aaff;
    background-image: linear-gradient(62deg, #f7aaff 0%, #F7CE68 100%);
    
    nav{
      background-color: $color-fondo;
      height: 80px;
    }
    h1{
      font-size:x-large;
    }
    h2{
      font-size: medium;
      margin-bottom: 10px;
    }    


    @media (min-width:1025px) {
      /* big landscape tablets, laptops, and desktops */
      background-color: $color-fondo;
    }

    .cuotas__app {
      margin: 25px;
      @media (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        background-color: #F1F1FA;
        padding: 5%;
        border-radius: 7px;
        box-shadow: 10px 10px 5px rgb(87, 87, 87);

      }


      // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
      form {
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;

        .chips__cuotas{
          display: flex;
          flex-wrap: wrap;
          input{
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            border: none;
            box-shadow: none;
            border-radius: 100px;
            max-height: 35px;
            width: 100px;
            font-size: small;
            padding: 10px;
            background-color: $color-chips;
            color: black;
            transition-duration: 0.3s;
            &:hover{
              background-color: $color-fondo;
              color: white;
            }
          }

          .selected{
            background-color: $color-fondo;
            color: white;
          }
          button{
            margin-top: 10px;
            border: none;
            box-shadow: none;
            border-radius: 100px;
            max-height: 30px;
            width: 100px;
            font-size: small;
            padding: 10px;
            background-color: $color-chips;
            color: black;
            transition-duration: 0.3s;
            
          }


          
        }
        #cantidaddecuotas{
          display: none;
          transition-duration: 0.3s;
        }
        .label {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 18px;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.02em;
          >* {
            margin: 10px 0;
          }
        }

        .advaced_options__withoptions {
          .advaced_options {
            text-align: left;
            font-size: 12px;
            display: flex;
            margin-bottom: 10px;
            cursor: pointer;
            p {
              align-self: center;
              margin-left: 5px;
            }
          }
        }

        #impuestosellos {
          display: none;
          flex-direction: row;
          justify-items: baseline;
          margin-bottom: 5px;
          #detalle {
            font-size: small;
            margin-left: 5px;
          }
        }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

        button {
          box-sizing: border-box;
          /* Auto layout */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 24px;
          gap: 10px;
          width: 100%;
          height: 44px;
          left: 16px;
          top: 16px;
          /* Primary */
          background: $color-chips;
          /* Primary */
          border: none;
          border-radius: 7px;
          color: black;
          cursor: pointer;
          transition: 0.3s;
          &:hover{
            background-color: rgb(144, 0, 255);
            color: white;
          }
          &:disabled {
            box-sizing: border-box;
            /* Auto layout */
            /* Primary Dark */
            background: #372AA3;
            opacity: 0.4;
            /* Primary Dark */
            border: 2px solid $color-fondo;
            border-radius: 10px;
          }
        }
      }

      #resultados {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        #mensajederesultado3 {
          color: green;
        }

        #mensajederesultado4 {
          color: red;
        }
        #resultado__detalle{
          font-size: small;
        }
      }
    }
  }
}